h1 {
    font-family: 'Palatino', serif;
    font-size: 125px;
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
    margin: auto;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 60px;
    text-align: center;
    margin: auto;
}

header p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 60px;
    text-align: center;
    margin: auto;
}

.intro-text {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 60px;
    text-align: center;
    margin: auto;
}

div {
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-style: italic;
    font-weight: 600;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.restaurant {
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: solid black;
}

.restaurant-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.restaurant-header img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
}

.dish-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.dish-card {
    border: 1px solid #eee;
    border-radius: 8px;
    height: fit-content;
}

.dish-card img {
    width: 100%;
    height: 35%;
    object-fit: cover;
    border-radius: 10%;
}

.credit {
    opacity: 50%;
}

aside {
    background: #eef2f5;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 60px;
    text-align: center;
    margin: auto;
}